//$screen-sm:                  768px;
//$mobile-media-query: "(max-width: #{$screen-sm - 1})";
.container#content {
    background: rgb(194, 194, 194);

    .blocs {
        background: grey;
        margin-bottom: 100px;

        .style.flex-row {
            display: flex;
            align-items: flex-end;
            justify-content: center;
            text-align: center;

            background: rgb(208, 208, 208);

            ul {
                background: rgb(171, 171, 171);
                color: wheat;            
            }
            @media #{$mobile-media-query}{
                display: block;
            }
        }
        /* Icone + texte */
        i {
            color: sandybrown;
            font-size: 34px;
            vertical-align: middle;
        }
        span {
            font-size: 20px;
            vertical-align: middle;
        }
        
    }
    
    
    .btn-search {
        >button {
            background: orange;
        }
    }
}