extends extends/template.jade


block content
  h1 Hello world

  .container#content
    section.blocs
      .row.style.flex-row
        .col-sm-4
          ul.list-unstyled
            each item in array
              li= item
            
        .col-sm-4
          ul.list-unstyled
            li un repository
            li qui vous servira
            li de base pour réaliser
            li votre application web responsive

      i.icon.icon-cercleplus
      span TEST
      