extends extends/template.jade

block content
  h1 Hello world

  .container#content
    section.blocs
      .row.style.flex-row
        .col-sm-4
          ul.list-unstyled
            li bonjour
            li je m'appelle
            li Laurent
            
        .col-sm-4
          ul.list-unstyled
            li j'ai 2 enfants
            li Louis et Zoé
            li que j'aime très fort
            li Je travaille dans l'informatique


      i.icon.icon-call TEST
      